/* https://coolors.co/palette/cb997e-eddcd2-fff1e6-f0efeb-ddbea9-a5a58d-b7b7a4 
    https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0efeb;
}

.logo {  
    padding: 0px 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    padding: 10px;
    background-color: #6B705C;
    text-align: center;
    color: #f0efeb;
}

.titles {
    text-align: left;
}

.main {
    display: inline-flex;
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    background-color: #DDBEA9;
    top: 10px;
}

.menubox {
    width: 18%;
}

.menu a {
    display: block;
    padding: 10px 10px; 
    text-decoration: none;  
    border-radius: 15px;
    color: black;
}

.menu a:hover {
    background-color: #B7B7A4;
    color: #f0efeb;
}

.content {
    /* float: right; */
    width: 80%; 
    min-height: 700px; /* temp */
    padding: 20px;
    background-color: #f0efeb;
}

.content a {
    text-decoration: none;
}

.content p {
    font-size: 20px;
}

.footer {
    clear: right;
    
    width: 100%;
    padding: 10px;
    background-color: #6B705C;
    color: #DDBEA9;
    text-align: center;
    font-size: 14px;
}

.bubbles {
    display: flex;
    flex-wrap: wrap;
}

.bubble {
    max-width: 500px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 30px;

    background-color:#A5A58D;

    box-shadow: 10px 10px rgb(29, 29, 29);

    color: black;
}

.bubble:hover {
    background-color: #B7B7A4;
}

.bubble img {
    width: 400px;
    position: relative;
    margin: auto;
}



.prompt {
    font-weight: bold;
}

input[type=submit], input[type=reset] {
    min-width: 100px;
    background-color: #CB997E;
    border: 1px solid black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(29, 29, 29);
  }

  input[type=submit]:hover, input[type=reset]:hover {
    background-color: #DDBEA9;
  }

  .three-paws {
    display: inline-block;
    opacity: 0.4;   
  }

  .three-paws img {
    width: 400px;
    height: 400px;
  }