body {
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    padding: 10px;
    text-align: center;
    background-color: #CBF3F0;
    font-size: 30px;
}


.header img {
    padding-right: 20px;
    width: 80px;
    height: 80px;
}

div.side-menu {
    background-color: black;
    width: 20%;
}
div.side-menu list {
    list-style: none;
    
    
}

div.side-menu list li {
    margin: 10px;
    width: 50%; 
    height: 50px;
    text-align: center;
    background-color: black;
    /*
    padding-left: 30px;
    background: rgb(183, 183, 183);
    text-align: left;
    text-decoration: none;
    */
} 